table.meniu {
    text-align: left;
    background-color: #F8E9FC;
    border: 3px dashed black;
}

table.center {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    margin-top: 0px;
    border-width: 3px;
    border-style: solid;
    border-color: grey;
    padding: 1px;
    background-color: white;
}

table.backlink {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    margin-top: 0px;
    border-width: 13px;
    border-style: solid;
    border-color: red;
    background-color: cyan;
}

nav {
    font-family: "Times New Roman", Times, serif;
    background: rgba(162, 159, 21, 0.8);
}

body {
    background-image: url("https://wallpaperplay.com/walls/full/b/4/f/147137.jpg");
    background-attachment: fixed;
    font-family: "Times New Roman", Times, serif;
}

form.login {
    margin-bottom: 0;
    padding: 6px;
    background-color: #FFF7B7;
    border: 3px dashed grey;
}

input.s1 {
    width: 100%;
    font-size: 13pt;
    text-align: left;
}

h1,
a {
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    color: black;
}

.login {
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    color: white;
}

.card-articles {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    transition: 0.3s;
    background: rgba(162, 159, 21, 0.5);
}

.card-articles:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
}

.card-articles-title {
    color: black;
    opacity: 1
}

.card {
    height: 400px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.social_icon span {
    font-size: 60px;
    margin-left: 10px;
    color: #a29f15;
}

.social_icon span:hover {
    color: white;
    cursor: pointer;
}

.card-header h3 {
    color: white;
}

.login-footer {
    height: 100px;
}

.social_icon {
    position: absolute;
    right: 20px;
    top: -45px;
}

.input-group-prepend span {
    width: 50px;
    background-color: #a29f15;
    color: black;
    border: 0 !important;
}

input:focus {
    outline: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;
}

.remember {
    color: white;
}

.remember input {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
}

.login_btn {
    background-color: rgba(162, 159, 21);
}

.login_btn:hover {
    color: black;
    background-color: white;
}

.links {
    color: white;
}

div.jumbotron {
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    background: rgba(162, 159, 21, 0.2);
}

#footer {
    position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
    /* Height of the footer*/
    height: 40px;
    background: rgba(162, 159, 21, 0.8);
}

.container-bg {
    background: rgba(162, 159, 21, 0.6);
    width: 70%;
}

.btn-submit {
    background: rgb(76, 6, 29);
    border-radius: 50px;
    color: white;
}

.btn-submit:hover {
    background-color: rgba(162, 159, 21);
    color: white;
}

.btn-answer {
    background: rgb(59, 57, 35);
    border-radius: 50px;
    color: white;
}

.btn-answer:hover {
    background-color: rgba(162, 159, 21, 0.9);
    color: white;
}

.btn-guest {
    background: rgb(76, 6, 29);
    color: white;
}

.btn-guest:hover {
    background-color: rgba(162, 159, 21, 0.9);
    color: white;
}

.logout_btn {
    border-radius: 50px;
}

.table-straipsniai {
    background: rgba(162, 159, 21, 0.8);
    text-align: center;
}

.row_sarasas {
    margin-left: 20%;
    margin-right: 20%;
}

.btn-check {
    background: rgb(76, 6, 29);
    color: white;
}

.btn-check:hover {
    background-color: rgb(59, 57, 35);
    color: white;
}